<% provide(:title, "Change Email") %>
<h1>Change Email</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= bootstrap_form_for @user, :url => change_email_path(params[:id]) do |f| %>
		  <%= render 'shared/error_messages', target: @user %>
		    <%= f.text_field :email %>
		    <%= f.submit "Change Email", class: "btn btn-lg btn-primary" %></div>
		<% end %>
	</div>
</div>